<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/gruvbox.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/static/favicon.png"/>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    </head>
    <body id="top">
        <main>
            <div id="app">{{ message }}</div>
            <script src="/static/elm.js"></script>
            <script>
             var app = Elm.Signup.init({
                 node: document.getElementById("app")
             });
            </script>
        </main>
    </body>
</html>
