<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/gruvbox.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex" />
        <link rel="icon" type="image/png" href="/static/favicon.png"/>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
        <link rel="manifest" href="/static/manifest.json" />
    </head>
    <body id="top">
        <main>
            <div id="app">{{ message }}</div>
            <script src="/static/elm.js"></script>
            <script>
             let cookieValue = null;
             if (document.cookie != "" && document.cookie.includes("token=")) {
                 cookieValue = document.cookie
                     .split('; ')
                     .find(row => row.startsWith('token='))
                     .split('=')[1];
             }
             var app = Elm.Main.init({
                 node: document.getElementById("app"),
                 flags: cookieValue
             });
            </script>
            <noscript>
                You must enable JavaScript for this page to work.
            </noscript>
            <script src="/static/install-sw.js"></script>
        </main>
    </body>
</html>
