<!DOCTYPE html>
<html>
    <head>
        <title>Authorization for {{ client_id }}</title>
        <link rel="stylesheet" href="/static/gruvbox.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex" />
        <link rel="icon" type="image/png" href="/static/favicon.png"/>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    </head>
    <body id="top">
        <main>
            <nav class="nav">
                <a href="/">Mi</a>
            </nav>
            <h1>Authorization for {{ client_id }}</h1>
            <p>{{ client_id }} asked for authentication as {{ me }}. If you do not know what this is, please close this tab.</p>
            <form action="/api/auth/authorized" method="GET">
                <input type="hidden" name="code" value="{{ code }}">
                <input type="submit" value="Authorize">
            </form>
            <br />
            <br />
            <a href="/">Go home</a>
        </main>
    </body>
</html>
